/*botones de redes sociales*/
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right: 3%;
    top:43%;
    width:10%;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    color:#efefef;
    height:70px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li img{
    float:right;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;

    /*zoom de los iconos redes sociales*/
}
.zoom{
    transition: transform .5s;
}
.zoom:hover {
    transform: scale(1.5);
}

/*NAVBAR PAGINA PRINCIPAL*/
.nav {
    background-color: rgb(57, 59, 57) !important;
    opacity: 0.9;
}
.nav a{
    color: #ffffff;

}
.nav .nav-link{
    color: #ffffff;
}
.search {
    font-size: 12px;
}
.navbar {
    border-radius: 0px 0px 0px 10px;
    top:0;
    left: 50%;
    background:#fff;
    width:50%;
}
.dropdown-menu{
    background: rgba(56,187,180,0.5);
    border-radius: 15px 15px 15px 15px;
    color: white;
}


/*Creacion de los menus y sub menus*/
.dropdown-menu>li {
    position:relative;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    color: white;
}
.dropdown-menu>li:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.dropdown-item:hover{
    color: white;
    text-decoration:none;
    background-color: black;
    opacity: 0.8;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: relative;
    top: 0;
    display:none;
    margin-top: -1px;
    border-radius: 15px 15px 15px 15px;
    box-shadow:none;
    background-color:  black;
    opacity: 0.8;
    color: white;
}
.right-caret:after
{	content:"";
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid white;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
    margin-left:5px;
}
.left-caret:after
{	content:"";
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid white;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
    margin-left:5px;
}
/*posicion del logo*/
.logo{
    margin-top: -3px;
    padding-left: 4% !important;
}
/*posicion del carousel*/
.barra {
    min-height: 85vh;
}
.carousel {
    position: absolute;
    top:0;
    right: 0;
    left:0;
}
/* Efectos en Carousel*/
.carousel-caption
{
    position: absolute;
    top: 30%;
    right: 65%;
    bottom: 30%;
    left: 0rem;
    z-index: 10;
    padding-top:5%;
    padding-bottom: 5rem;
    color: #fff;
    text-align: center;
    background: rgba(56,187,180,0.5);
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 100vh;
    min-height: 10px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/*linea de division vertical*/
.vl {
    border-left: 6px solid #38bbb4;
    height: 95%;
    position: absolute;
    left:100%;
    top: 5px !important;
    bottom: 5px !important;
}
.vl2 {
    border-left: 6px solid #38bbb4;
    height: 80%;
    position: absolute;
    left:100%;
    margin-left: -3px;
    top: 0;
}

/*Imagenes Promocionales*/
/*fondo de imagenes*/
.fondo{
    background: #F1F1F1 ;
    padding-top: 3%;
}
/*efectos en Imagenes Promocionales*/
.imagen {
    width: 100%;
    height: 100%;
}

.fgPromo {
    margin: 0;
    padding: 0;
    height: 40vh;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

.fgPromo:hover .fgCPromo {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0;
}

.fgCPromo {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    -webkit-transition: all .9ms ease;
    -moz-transition: all .9ms ease;
    -o-transition: all .9ms ease;
    -ms-transition: all .9ms ease;
    transition: all .9ms ease;
    -webkit-transition-delay: .5ms;
    -moz-transition-delay: .5ms;
    -o-transition-delay: .5ms;
    -ms-transition-delay: .5ms;
    transition-delay: .5ms;
}

.fgPromo img {
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    -ms-transition: all 1.5s;
    transition: all 1.5s;
    -webkit-transition-delay: .5ms;
    -moz-transition-delay: .5ms;
    -o-transition-delay: .5ms;
    -ms-transition-delay: .5ms;
    transition-delay: .5ms;
}

.fgPromo:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.fgCPromo h3 {
    font-family: 'Open sans';
    text-align: center;
    font-weight: 400;
    color: white;
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    righ: 100%;
    margin-top: 27px;
    font-size: 30px
}

.fgCPromo h2 {
    font-family: 'Open sans';
    text-align: center;
    font-weight: 400;
    color: white;
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    righ: 100%;
    margin-top: 27px;
    font-size: 20px;
}

.fgCPromo p {
    font-family: 'Open sans';
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    left: 100%;
    font-size: 50px;
}

.fgPromo:hover h3,figure:hover p {
    left: 0;
}

figcaption a {
    color: #fff;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 20px;
}

figcaption a:hover {
    color: rgb(56,187,180);
}

/*Imagenes medio oriente*/
.medio{
    width:40vh;
    height:25vh;
    background: #38bbb4;
    color: white;
    text-align: center
}

.imgMedio{
    width:40vh;
    height:25vh
}

/*Video Promocional*/
.videoPromocional{
    color: white;
    margin-top: -30px;
    background: #2C3539;
    width: 100%;
    height: 60vh;
}
.fondoVideo{
    padding-top: 60px !important;
    padding-left: 100px !important;
    padding-bottom: 60px !important;
    width: 100%;
    height: 60vh;
}
.btn-imgVideo{
    background-color: rgb(56,187,180);
    text-align: center;
    color: white;
}

/*Sobre Nosotros*/
.sobreNosotros{
    background-color: rgb(57, 59, 57) !important;
}

/*FOOTER*/
.footer-copyright{
    background-color: rgb(56,187,180);
    text-align: center;
    color: white;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (max-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }

    .navbar-nav {
        padding-top: .425rem;
        padding-left: 0.75rem;
    }

    .navbar-nav .nav-item {
        float: none;
    }

    .navbar-brand {
        float: right;
    }

    .navbar-brand,
    .navbar-nav .nav-item {
        display: block;
    }

    .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
    }

    .dropdown-menu {
        position: relative;
        float: start;

    }

}
/*Navbar personalizado en responsive**/
.navbar-toggler {
    border-color: transparent;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba( 255, 255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

