/*IMAGEN EN INICIO*/
.barra {
    background: url(../img/mexico_1.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}
/*OPACIDAD NAVBAR*/
.barra .navbar {
    background-color: rgb(57, 59, 57) !important;
    opacity: 0.9;
}
.barra .navbar .nav-link{
    color: #ffffff;
}
.search {
    font-size: 12px;
}
.logo{

    padding-top: 1%;
    padding-left: 5%;
}
.vl {
    border-left: 6px solid #38bbb4;
    height: 90%;
    position: absolute;
    left:100%;
    margin-left: -3px;
    top: 0;
}