@font-face {
    font-family: caviarDreams;
    src: url("fonts/CaviarDreams/CaviarDreams.ttf");
}
@font-face {
    font-family: caviarDreams_Bold;
    src: url("fonts/CaviarDreams/CaviarDreams_Bold.ttf");
}
@font-face {
    font-family: caviarDreams_BoldItalic;
    src: url("fonts/CaviarDreams/CaviarDreams_BoldItalic.ttf");
}
@font-face {
    font-family: caviarDreams_Italic;
    src: url("fonts/CaviarDreams/CaviarDreams_Italic.ttf");
}
@font-face {
    font-family: leagueSpartan;
    src: url("fonts/league-spartan/LeagueSpartan-Bold.otf");
}
@font-face {
    font-family: quicksand_Bold;
    src: url("fonts/quicksand/Quicksand_Bold.otf");
}
@font-face {
    font-family: quicksand_Light;
    src: url("fonts/quicksand/Quicksand_Light.otf");
}
@font-face {
    font-family: quicksand_LightOblique;
    src: url("fonts/quicksand/Quicksand_Light_Oblique.otf");
}
body{
    font-size:80%;
}

.nav-link{
    font-family: 'quicksand_Bold';
    font-size: 1em;
}

/*Titulo en Carousel de Inicio*/
.carousel-caption > h1{
    font-family: 'quicksand_Bold';
    font-size: 3em;
}
.carousel-caption > p{
    font-family: 'quicksand_Bold';
    font-size: 1.5em;
}

/*Parrafo somos una empresa*/
.somos{
    font-family: 'quicksand_Bold';
    font-size: 0.9em;
    padding: 1.25em 1.9em 1.25em 3.12em !important;
    /*top right bottom left*/
}
.destino{
    font-family: ' quicksand_LightOblique';
    font-size: 0.9em;
    padding: 50px 30px 20px 50px !important;
    font-style: italic;
}
/*Titulo imagenes promocionales*/
.subFigure {
    font-family: 'quicksand_Light';
    font-size: 1.5em;
    text-align: center;
}

.fgCPromo h3{
    font-family: 'quicksand_Light';
    font-size: 1.5em;

}

/*Medio Oriente*/
.medio h1{
    font-family: 'leagueSpartan';
    font-size: 2.1em;
    text-align: center;
    padding: 1em 0em 0em 0em !important;
}

.eje{
    padding-top: 5em !important;
    padding-right: 7.5em !important;
}

.eje h1{
    font-family: 'CaviarDreams_Bold', 'Arial';
    font-weight: bold;
    font-size: 1.125em;

}
.eje p{
    font-family: 'leagueSpartan';
    font-size: 0.9em;
}
.eje a{
    font-family: 'leagueSpartan';
    font-size: 0.9em;
}

.promo{
    font-family: 'leagueSpartan';
    font-size: 2.5em;
}

.servicios {
    padding-top: 3.75em;
}
.servicios > h1{
    font-family: 'leagueSpartan';
    font-size: 1.5em;
}

.sobre figcaption{
    font-family: 'leagueSpartan';
    font-size: 1.2em;
}


.sobreNosotros p{
    font-family: 'quicksand_Bold','Arial';
    font-size: 0.8em;

}
.sobreNosotros h1{
    font-family: 'quicksand_Bold','Arial';
    font-size: 1.3em;
    align-content: center;
}

/**/


/*PAGINA-MEXICO*/

.titulo h1{
    font-size: 2em;
}

.incluye p{
    font-size: 1em;
}
.dias h1{
    font-size: 2em;
}
.sobreNosotros2 h3 {
    font-size: 1.5em;
}

/*RESPONSIVE*/

@media screen and (min-width: 800px ) {
    body{
        font-size: 100%;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (min-width: 1200px) {
    body {
        font-size: 120%;
    }
}