/*Separacion del carrusel paginas secundarias*/
.barra2 {
    min-height: 90vh;
}
/*Sobre Nosotros pagina 2*/
.sobreNosotros2{
    background: #38bbb4;
    position: relative;
}
.sobreNosotros3{
    background-color: rgb(11, 56, 78) !important;
    position: relative;
}
.fondoVideo2{
    padding-top: 60px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 60px;
}
/*video promocional eje cafetero*/
.videoPromocional2{
    color: white;
    margin-top: -30px;
    background: #2C3539;
}
/*TITULO PAGINA MEXICO*/

.titulo{
    margin-top: -5em;
    background: #38bbb4;
    color: white;
}

/*RESPONSIVE*/

@media screen and (min-width: 800px ) {
    body{
        font-size: 100%;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (min-width: 1200px) {
    body {
        font-size: 120%;
    }
}