/*Logo*/
.logo{
    padding-top: 1%;
}
/*Opacidad Navbar*/
.barra{
    background-color: rgb(57, 59, 57) !important;
    opacity: 0.6;
}

.barra .nav-link{
    color: #ffffff;
}
.navbar{
    border-radius: 0px 0px 0px 10px;
    width: 50%;
    top:0;
    left: 50%;
}
/*Navbar personalizad0 en responsive**/
.navbar-toggler {
     border-color: transparent;
 }
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba( 255, 255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/*Boton en Carousel de Inicio*/
.btn-imgCarousel{
    background-color: rgb(56,187,180);
    text-align: center;
    color: white;
}

.footer-copyright{
    background-color: rgb(56,187,180);
    text-align: center;
    color: white;
}

/*efectos en imagenes*/
.imagen:hover{
    filter: blur(5px);
}